name: Git action 1

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v5
      with:
        distribution: "zulu"
        java-version: "21"

    - name: Run tests
      run: |
        echo "Running tests"
        java --version
        javac src/Main.java
        java src/Main